@media screen and (max-width: 920px) {
    .top-header{
        font-size: 1rem;
    }

    .menu-nav {
        display: flex;
        justify-content: space-between;
        width:60%;
    }
    
    .social-nav {
        display: flex;
        justify-content: space-between;
        width: 5%;
    
    }
}
