
/* FOOTER */

footer {
    /* margin-top: 1rem; */
    padding: .5rem 0;
    background: #6031CA; 
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 16rem;
}

.footer-section1 {
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
}

.footer-section2 {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    padding: .5rem 0;
    
}

.footer-image {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.copyright {
    padding: .5rem 0;
    text-align: center;
}

/* Header Menu Media Queries */

@media(min-width: 500px) {
    .top-header {
        display: flex;
        justify-content: space-around;
    }

    .social-nav {
        visibility: visible;
        flex-basis: 10%;
    }

    .menu-nav {
        flex-basis: 70%;
    }
}

@media(min-width: 700px) {
    .top-header {
        font-size: 1.8rem;
    }
}

@media(min-width: 1000px) {

    .top-header {
        font-size: 2.2rem;
    }

    .menu-nav {
        flex-basis: 60%;
    }
}


/* Footer Media queries */

@media(min-width: 500px) {

    footer {
        padding: 6rem 0;
    }

    .footer-section1 {
        font-size: 2rem;
    }

    .footer-section2 {
        font-size: 2rem;
        height: 7rem;
    }

    .copyright {
        font-size: 1.5rem;
    }
}

@media(min-width: 700px) {
   
    .footer-sections {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-section1 {
        border-bottom: 2px solid black;
    }

    .copyright {
        border-top: 2px solid black;

    }

    .footer-section2 {
        flex-basis: 5%;
        margin: 0 2rem;
    }

    .footer-image {
        flex-basis: 70%;
        margin: 0 2rem;
    }

    footer {
        padding: 0;
    }

   
}

@media(min-width: 1000px) {
    .footer-sections {
        margin: 2rem 0;
   
    }

    .footer-section2 {    
    }

    .footer-image {
        
    }

    .footer-image-image {
        width: 100%;
        
    }

    footer {
        padding: 6rem 0;

    }


}



/* HOME PAGE Middle Area */
.content, .skills-content{
    padding-top: 4rem;
    margin-bottom: 20rem;
}
.hero-area-img {
    content: url("../img/trenyph2.png");
    width: 100%;
}

.sidebar {
    display: none;
}

.content-hero-area {
    position: absolute;
}

.name-heading {
    text-align: center;
    margin: 4rem 0 7rem 3rem;
    font-family: 'Pacifico', cursive;
    font-size: 14vw;
    /* margin-bottom: 16rem;
    margin-left: 1rem;
    padding-top: 3rem; */
}

.p-headings {
    text-align: center;
    font-size: 5vw;
    font-weight: bolder;
    margin: 18rem 20rem 12rem 0;
    color:#6031CA;
}

/* .home-button-container .button-container{
    margin: 5rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

.home-button-container, .button-container{
    margin: 3rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-button-container a {
    font-size: 1.5rem;
    padding: 1.2rem 3.5rem;
}

 .button-container a {
    font-size: 1rem;
    padding: .8rem 3.5rem;
    color: #f4f4f4;
    text-transform: uppercase;
  } 

  .button-container button {
    font-size: 1rem;
    padding: .8rem 3.5rem;
    color: #f4f4f4;
    text-transform: uppercase;
	
}
  
.btn {
    background: #6031CA;
    text-decoration: none;
    border: .1rem solid #6031CA;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
 
.btn:hover {
    background: transparent;
    box-shadow: .1rem .1rem 2.5rem 1rem #6031CA;
    color: #6031CA;
  }
  
.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      #6031CA,
      transparent
    );
    transition: all 650ms;
  }
  
.btn:hover:before {
    left: 100%;
  }


@media(min-width: 400px) {
    .home-button-container a {
        font-size: 1.5rem;
        padding: 1.2rem 3.5rem;
    }

    .hero-area-img {
        width: 90%;
        margin-left: 5rem;
    }
}

@media(min-width: 460px) {
}

@media(min-width: 500px) {
    .hero-area-img {
        width: 80%;
        margin-left: 10rem;
    }

    .home-button-container a {
        font-size: 2rem;
        padding: 1.6rem 3.5rem;
        margin-top: 9rem;
    }

    .p-headings {
        margin-right: 20rem;
        margin-bottom: 0;        
    }

    footer {
        margin-top: 0;
    }
   
}

@media(min-width: 600px) {
    .home-button-container a {
        margin-top: 12rem;
    }
   
    .p-headings {
        margin-right: 28rem;
        margin-top: 15rem;   
        margin-bottom: 0;     
    }

    .hero-area-img {
        width: 70%;
        margin-left: 12rem;
        
    }
}

@media(min-width: 700px) {
    .hero-area-img {
        margin-left: 18rem;
        
    }

    .p-headings {
        margin-top: 20rem;  
        margin-right: 32rem;     
    }
}

@media(min-width: 800px) {
    .hero-area-img {
        width: 60%;
        margin-left: 22rem;
        
    }

    .p-headings {
        /* margin: 20rem 42rem 8rem 0;         */
        margin-top: 18rem;
    }
}

@media(min-width: 900px) {
    .content, .skills-content  {
        padding-top: 4rem;
        margin-bottom: 24rem;
    }

    .name-heading {
        margin: 4rem 0 7rem 10rem;
        font-size: 12vw;
    }

    .p-headings {
        margin: 15rem 31rem 0 0;        
    }

    .hero-area-img {
        width: 60%;
        margin-left: 35rem;
    }

    .home-button-container {
        width: 80%;
    }

   
}

@media(min-width: 920px) {

}

@media(min-width: 950px) {

}

@media(min-width: 1000px) {
    .name-heading {
        margin-left: 25rem;
        font-size: 10vw;

    }

    .p-headings {
        font-size: 6vw;
        margin: 0;
        margin-top: 10rem;
        margin-right: 30rem;
    }
    .hero-area-img {
        width: 50%;
        margin-left: 45rem;

    }
}

@media(min-width: 1100px) {
    .hero-area-img {
        width: 45%;
        margin-left: 55rem;
    }

    
    .p-headings {
        font-size: 5vw;
    }
}

@media(min-width: 1200px) {
    .hero-area-img {
        width: 44%;
        margin-left: 55rem;
    }

    
}

@media(min-width:1300px ) {
    /* .hero-area-img {
        width: 50%;
        margin-left: 60rem;
    } */

}

@media(min-width: 1400px) {
    .name-heading {
        margin-left: 25rem;
        font-size: 9vw;

    }

    .p-headings {
        font-size: 4vw;
        margin: 0;
        /* margin-top: 10rem; */
        margin-right: 30rem;
    }
    .hero-area-img {
        height: 100%;
        width: 40%;
        margin-left: 65rem;
        margin-top: 0rem;

    } 

}

@media(min-width: 1500px) {
    /* .name-heading {
        margin-left: 50rem;
        font-size: 9vw;

    }

    .p-headings {
        font-size: 4vw;
        margin: 0;
        margin-top: 20rem;
        margin-right: 45rem;
    }
    .hero-area-img {
        height: 100%;
        width: 40%;
        margin-left: 80rem;
        margin-top: 0rem;

    }  */
}

@media(min-width: 1600px) {
    .name-heading {
        margin-left: 50rem;
        font-size: 9vw;

    }

    .p-headings {
        font-size: 4vw;
        margin: 0;
        /* margin-top: 20rem; */
        margin-right: 45rem;
    }
    .hero-area-img {
        height: 100%;
        width: 40%;
        margin-left: 80rem;
        margin-top: 0rem;

    } 

}

@media(min-width: 1700px) {
    
}

@media(min-width: 1800px) {
    .name-heading {
        margin-left: 50rem;
        font-size: 9vw;

    }

    .p-headings {
        font-size: 4vw;
        margin: 0;
        margin-top: 20rem;
        margin-right: 45rem;
    }
    .hero-area-img {
        height: 100%;
        width: 40%;
        margin-left: 80rem;
        margin-top: 0rem;

    } 

}

@media(min-width: 1900px) {
  

}




/* SKILLS */


.skills-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0 !important;
    margin: 3rem 0 10rem 0;
} 

.skills-content h1 {
    font-size: 10vw;
    margin-bottom: 3rem;
}

.skills-area-img {
      content: url("../img/aboutmeimg.png");
      opacity: 30%;
      
      margin: 0 auto;
      max-width: 90%;
      border-radius: 5%;
      border: 1rem solid #6031CA;
}

.skills {
      position: absolute;
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 5rem;
       
}

.skill {
      margin: .8rem 1%;
      width: 30%;
      padding: 0 20px 25px;
      border: 1px solid #6031CA;
      border-radius: 10px;
      background: rgb(18, 5, 48);
      position: relative;
      height: 1.5rem;
      overflow: hidden;
      box-shadow: 2px 2px 2px #6031CA;
      text-align: center;
}
    
.skill h2 {
        font-size: 1.2rem;
        padding: 0;
        margin: 15px 0 0 0;
}
  
.skill .close {
    position: absolute;
    top: 10px;
    right: 10px;
}
    
.skill .expandButton {
    display: none;
}
  
.skill-button-container {
    display: none;
}
  


@media(min-width: 500px) {

    .skill h2 {
        font-size: 1.5rem;
    }

    .skill {
        margin: 1.5rem 1%;
        height: 2.5rem;
  }

}



@media(min-width: 700px) {
    .skills {
        margin-top: 0;
    }

    .skill {
        margin: 2rem 1%;
        height: 4rem;
    }

  .skill h2 {
    font-size: 2rem;
   }
}

@media(min-width: 800px) {
    .skills {
        margin-top: 15rem;
    }
    .skills-content h1 {
        font-size: 7vw;
    }
    .skill {
        height: 6rem;
    }

    .skill .close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
        
    .skill .expandButton {
        display: inline;
        position: absolute;
        margin: 3rem 0 0 0;
        border-radius: 5%;;
        bottom: 9%;
        left: 50%;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
        transform: translate(-50%);
        background-color: #6031CA;
    }
        
.skill .expandButton:hover {
    background-color: transparent;
}
        
        .skill-open {
          height: 15rem;
        }
        
        .skill-button-container {
            display: inline;
        }

        .skill-button-container a {
            font-size: 1rem;
            padding: .3rem .5rem;
        }
      
        .skill-abouts {
          margin-top: 10rem;
        } 
}

@media(min-width: 1000px) {
    .skills {
        width: 60%;
    }
}

@media(min-width: 1300px) {
    .skills {
        width: 50%;
    }
}

@media(min-width: 1600px) {
    .skills {
        width: 40%;
    }
}



/* About */
.aboutcontact-header {
    margin-top: 2rem;
    padding-top: 1rem;
	border-top: .1rem solid #6031CA;
}

.aboutcontact-header nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.aboutcontact-header nav a {
	color: #6031CA;
	font-weight: bolder;
}

.aboutme-content {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 50rem;
    
}

.about-area-img {
    content: url("../img/aboutmeimg.png");
    opacity: 30%;
    width: 100%;
    margin: 0 auto;
    border-radius: 5%;
}

.aboutme-section {
    margin-top: 8rem;
    width: 90%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.about-figure {
    width: 85%;
    padding: 5rem .8rem 3rem;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 0 6rem #6031CA;
    -moz-box-shadow: 0 0 6rem #6031CA;
    box-shadow: 0 0 6rem #6031CA;
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.about-figcaption {
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 1.5rem;
}

.first-about {
    font-size: 1.5rem;
    text-align: center;
}

.second-about {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

.aboutme-image img{
    border-radius: 50%;
    width: 70%;
    
}

.aboutme-card {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 5rem;
}
 

@media(min-width: 500px) {
    .aboutme-image img{
        border-radius: 50%;
        width: 55%;
        
    }

    .about-figcaption {
        margin: 0 auto;
        width: 90%;
    
      }
}

@media(min-width: 600px) {
    .aboutme-content {
        margin-top: 4rem;
    }
}

@media(min-width: 700px) {
    .aboutme-image img{
        border-radius: 50%;
        width: 45%;
    }

    .about-figcaption {
        width: 80%;
    
      }
}


@media(min-width: 800px) {
    .aboutme-image img{
        border-radius: 50%;
        width: 35%;
        
    }

    .about-figcaption {
        width: 70%;
    
      }
}


@media(min-width: 900px) {

    .about-figcaption {
        width: 50%;
    
      }

      .about-figure {
        width: 75%;
      }
}

@media(min-width: 1000px) {
    .about-figure {
        width: 65%;
      }
}

@media(min-width: 1200px) {
    .about-figure {
      width: 55%;
    }
}

@media(min-width: 1400px) {
    .about-figure {
      width: 45%;
    }
}

@media(min-width: 1600px) {
    .about-figure {
      width: 40%;
    }
} 

/* CONTACT */

.contact {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 35rem;
    margin-top: 10rem;
}

.contact-area-img {
    content: url("../img/aboutmeimg.png");
    opacity: 30%;
    width: 100%;
    margin: 0 auto;
    border-radius: 5%;
}

.contact-info {
    padding-top: 5rem;
    width: 90%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-size: 1.5rem;
}

.contact-form-title {
    font-size: 2.5rem;
}

.contact-form-title2 {
    text-align: center;
    margin-left: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;;
}

.contact-form {
    padding: 2rem 2rem;
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
}
label {
    margin-bottom: .8rem;
}

input {
    max-width: 100%;
    background-color: transparent;
    margin-bottom: 3rem;
    padding: .5rem .5rem .5rem .5rem;
}

.input,
.textarea {
    color: #FFFFFF;
    padding-left: 10px;
    border-radius: 10px;
    border: .1rem solid #6031CA;
}

.textarea {
    margin-bottom: 3rem;
    border: .2rem solid #6031CA;
    background: transparent;
}

::placeholder {
    color: #FFFFFF;
    opacity: 30%;
}

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
}
 
.textarea[contenteditable]:empty::before {
    content: "type your message here";
    color: #FFFFFF;
    opacity: 30%;
}

.contact-details {
    display:none;
}

@media(min-width: 400px) {
    .contact-info {
        width: 80%;
    }
}

@media(min-width: 500px) {
    .contact-info {
        width: 70%;
    }
}

@media(min-width: 600px) {
    .contact-form-title2 {
        text-align: center;
    }

    .contact-info {
        width: 90%;
        margin-top: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center; 
        font-size: 1.5rem;
    }

    .contact-details {
        display:inline;
        text-align: center;
        border: .1rem solid #6031CA;
        padding: 2rem 3rem 0 2rem;
        border-radius: 10px;

    }

    .detail {
        margin-bottom: 5rem;
    }

    .detail-heading {
        font-size: 2rem;
    }

    .detail-email {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .detail-social .fa {
        margin: 1.8rem;
    }

    .form {
        width: 55%;
    }
   
}

@media(min-width: 900px) {
    .contact-info {
        width: 80%;
    }
}

@media(min-width: 1000px) {
    .contact-info {
        width: 70%;
    }
}

@media(min-width: 1200px) {
    .contact-info {
        width: 60%;
    }
}

@media(min-width: 1400px) {
    .contact-info {
        width: 50%;
    }
}

@media(min-width: 1600px) {
    .contact-info {
        width: 40%;
    }
}

@media(min-width: 1800px) {
    .contact-info {
        width: 30%;
    }
}


/* Projects */

.projects-top-container {
    width: 100% !important;
  }
  
  .projects-container {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 15rem;
  
  }
  
  
  
  .projects-container h1 {
    font-size: 5vw;
    text-align: center;
    margin-bottom: 7rem;
    margin-top: 5rem;
    
  }
  
  .projects-section {
    width: 80%;
    margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
  }
  
  .project-card {
      margin-bottom: 2rem;
      border-radius: 10px;
  }
  
  .project-figure {
      background: rgb(18, 5, 48);
      padding: .8rem .8rem 3rem;
      text-align: center;
      text-decoration: none;
      -webkit-box-shadow: 0 .4rem .6rem #6031CA;
      -moz-box-shadow: 0 .4rem .6rem #6031CA;
      box-shadow: 0 .4rem .6rem #6031CA;
      -webkit-transition: all .20s linear;
      -moz-transition: all .20s linear;
      transition: all .20s linear;
      cursor: pointer;
      position: relative;
      /* margin: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0; */
    }
  
    .project-figcaption {
      color: #FFFFFF;
      font-size: 1rem;
      position: relative;
      top: 1.5rem;
    }
    
  
    .project-figure:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .7);
      -moz-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .7);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .7);
    }
  
    .project-card {
      overflow: hidden;
    }
  
    .projects-card img {
      /* width: 500px;
      height: 100px; */
    
    }
  
    .img {
      max-width: 100%;
    }
  
  
    @media(min-width: 600px) {
      .projects-container {
          width: 95%;
        }
  
      .projects-section {
          width: 100%;
      }
      .project  {
          width:40%;
          margin: 1rem;
      }
  }
  
    @media(min-width: 800px) {
      .project  {
          width:30%;
      }
   
  
  }
  
    @media(min-width: 1377px) {
      .project  {
          width:20%;
      }
  }
  
  
  
  
  
  
  
  
  
  


/* FOOTER */

footer {
    /* margin-top: 1rem; */
    padding: .5rem 0;
    background: #6031CA; 
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 16rem;
}

.footer-section1 {
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
}

.footer-section2 {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    padding: .5rem 0;
    
}

.footer-image {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.copyright {
    padding: .5rem 0;
    text-align: center;
}

/* Header Menu Media Queries */

@media(min-width: 500px) {
    .top-header {
        display: flex;
        justify-content: space-around;
    }

    .social-nav {
        visibility: visible;
        flex-basis: 10%;
    }

    .menu-nav {
        flex-basis: 70%;
    }
}

@media(min-width: 700px) {
    .top-header {
        font-size: 1.8rem;
    }
}

@media(min-width: 1000px) {

    .top-header {
        font-size: 2.2rem;
    }

    .menu-nav {
        flex-basis: 60%;
    }
}


/* Footer Media queries */

@media(min-width: 500px) {

    footer {
        padding: 6rem 0;
    }

    .footer-section1 {
        font-size: 2rem;
    }

    .footer-section2 {
        font-size: 2rem;
        height: 7rem;
    }

    .copyright {
        font-size: 1.5rem;
    }
}

@media(min-width: 700px) {
   
    .footer-sections {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-section1 {
        border-bottom: 2px solid black;
    }

    .copyright {
        border-top: 2px solid black;

    }

    .footer-section2 {
        flex-basis: 5%;
        margin: 0 2rem;
    }

    .footer-image {
        flex-basis: 70%;
        margin: 0 2rem;
    }

    footer {
        padding: 0;
    }

   
}

@media(min-width: 1000px) {
    .footer-sections {
        margin: 2rem 0;
   
    }

    .footer-section2 {    
    }

    .footer-image {
        
    }

    .footer-image-image {
        width: 100%;
        
    }

    footer {
        padding: 6rem 0;

    }


}



/* HOME PAGE Middle Area */
.content, .skills-content{
    padding-top: 4rem;
    margin-bottom: 20rem;
}
.hero-area-img {
    content: url("../img/trenyph2.png");
    width: 100%;
}

.sidebar {
    display: none;
}

.content-hero-area {
    position: absolute;
}

.name-heading {
    text-align: center;
    margin: 4rem 0 7rem 3rem;
    font-family: 'Pacifico', cursive;
    font-size: 14vw;
    /* margin-bottom: 16rem;
    margin-left: 1rem;
    padding-top: 3rem; */
}

.p-headings {
    text-align: center;
    font-size: 5vw;
    font-weight: bolder;
    margin: 18rem 20rem 12rem 0;
    color:#6031CA;
}

/* .home-button-container .button-container{
    margin: 5rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

.home-button-container, .button-container{
    margin: 3rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-button-container a {
    font-size: 1.5rem;
    padding: 1.2rem 3.5rem;
}

 .button-container a {
    font-size: 1rem;
    padding: .8rem 3.5rem;
    color: #f4f4f4;
    text-transform: uppercase;
  } 

  .button-container button {
    font-size: 1rem;
    padding: .8rem 3.5rem;
    color: #f4f4f4;
    text-transform: uppercase;
	
}
  
.btn {
    background: #6031CA;
    text-decoration: none;
    border: .1rem solid #6031CA;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
 
.btn:hover {
    background: transparent;
    box-shadow: .1rem .1rem 2.5rem 1rem #6031CA;
    color: #6031CA;
  }
  
.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      #6031CA,
      transparent
    );
    transition: all 650ms;
  }
  
.btn:hover:before {
    left: 100%;
  }


@media(min-width: 400px) {
    .home-button-container a {
        font-size: 1.5rem;
        padding: 1.2rem 3.5rem;
    }

    .hero-area-img {
        width: 90%;
        margin-left: 5rem;
    }
}

@media(min-width: 460px) {
}

@media(min-width: 500px) {
    .hero-area-img {
        width: 80%;
        margin-left: 10rem;
    }

    .home-button-container a {
        font-size: 2rem;
        padding: 1.6rem 3.5rem;
        margin-top: 9rem;
    }

    .p-headings {
        margin-right: 20rem;
        margin-bottom: 0;        
    }

    footer {
        margin-top: 0;
    }
   
}

@media(min-width: 600px) {
    .home-button-container a {
        margin-top: 12rem;
    }
   
    .p-headings {
        margin-right: 28rem;
        margin-top: 15rem;   
        margin-bottom: 0;     
    }

    .hero-area-img {
        width: 70%;
        margin-left: 12rem;
        
    }
}

@media(min-width: 700px) {
    .hero-area-img {
        margin-left: 18rem;
        
    }

    .p-headings {
        margin-top: 20rem;  
        margin-right: 32rem;     
    }
}

@media(min-width: 800px) {
    .hero-area-img {
        width: 60%;
        margin-left: 22rem;
        
    }

    .p-headings {
        /* margin: 20rem 42rem 8rem 0;         */
        margin-top: 18rem;
    }
}

@media(min-width: 900px) {
    .content, .skills-content  {
        padding-top: 4rem;
        margin-bottom: 24rem;
    }

    .name-heading {
        margin: 4rem 0 7rem 10rem;
        font-size: 12vw;
    }

    .p-headings {
        margin: 15rem 31rem 0 0;        
    }

    .hero-area-img {
        width: 60%;
        margin-left: 35rem;
    }

    .home-button-container {
        width: 80%;
    }

   
}

@media(min-width: 920px) {

}

@media(min-width: 950px) {

}

@media(min-width: 1000px) {
    .name-heading {
        margin-left: 25rem;
        font-size: 10vw;

    }

    .p-headings {
        font-size: 6vw;
        margin: 0;
        margin-top: 10rem;
        margin-right: 30rem;
    }
    .hero-area-img {
        width: 50%;
        margin-left: 45rem;

    }
}

@media(min-width: 1100px) {
    .hero-area-img {
        width: 45%;
        margin-left: 55rem;
    }

    
    .p-headings {
        font-size: 5vw;
    }
}

@media(min-width: 1200px) {
    .hero-area-img {
        width: 44%;
        margin-left: 55rem;
    }

    
}

@media(min-width:1300px ) {
    /* .hero-area-img {
        width: 50%;
        margin-left: 60rem;
    } */

}

@media(min-width: 1400px) {
    .name-heading {
        margin-left: 25rem;
        font-size: 9vw;

    }

    .p-headings {
        font-size: 4vw;
        margin: 0;
        /* margin-top: 10rem; */
        margin-right: 30rem;
    }
    .hero-area-img {
        height: 100%;
        width: 40%;
        margin-left: 65rem;
        margin-top: 0rem;

    } 

}

@media(min-width: 1500px) {
    /* .name-heading {
        margin-left: 50rem;
        font-size: 9vw;

    }

    .p-headings {
        font-size: 4vw;
        margin: 0;
        margin-top: 20rem;
        margin-right: 45rem;
    }
    .hero-area-img {
        height: 100%;
        width: 40%;
        margin-left: 80rem;
        margin-top: 0rem;

    }  */
}

@media(min-width: 1600px) {
    .name-heading {
        margin-left: 50rem;
        font-size: 9vw;

    }

    .p-headings {
        font-size: 4vw;
        margin: 0;
        /* margin-top: 20rem; */
        margin-right: 45rem;
    }
    .hero-area-img {
        height: 100%;
        width: 40%;
        margin-left: 80rem;
        margin-top: 0rem;

    } 

}

@media(min-width: 1700px) {
    
}

@media(min-width: 1800px) {
    .name-heading {
        margin-left: 50rem;
        font-size: 9vw;

    }

    .p-headings {
        font-size: 4vw;
        margin: 0;
        margin-top: 20rem;
        margin-right: 45rem;
    }
    .hero-area-img {
        height: 100%;
        width: 40%;
        margin-left: 80rem;
        margin-top: 0rem;

    } 

}

@media(min-width: 1900px) {
  

}




/* SKILLS */


.skills-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0 !important;
    margin: 3rem 0 10rem 0;
} 

.skills-content h1 {
    font-size: 10vw;
    margin-bottom: 3rem;
}

.skills-area-img {
      content: url("../img/aboutmeimg.png");
      opacity: 30%;
      
      margin: 0 auto;
      max-width: 90%;
      border-radius: 5%;
      border: 1rem solid #6031CA;
}

.skills {
      position: absolute;
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 5rem;
       
}

.skill {
      margin: .8rem 1%;
      width: 30%;
      padding: 0 20px 25px;
      border: 1px solid #6031CA;
      border-radius: 10px;
      background: rgb(18, 5, 48);
      position: relative;
      height: 1.5rem;
      overflow: hidden;
      box-shadow: 2px 2px 2px #6031CA;
      text-align: center;
}
    
.skill h2 {
        font-size: 1.2rem;
        padding: 0;
        margin: 15px 0 0 0;
}
  
.skill .close {
    position: absolute;
    top: 10px;
    right: 10px;
}
    
.skill .expandButton {
    display: none;
}
  
.skill-button-container {
    display: none;
}
  


@media(min-width: 500px) {

    .skill h2 {
        font-size: 1.5rem;
    }

    .skill {
        margin: 1.5rem 1%;
        height: 2.5rem;
  }

}



@media(min-width: 700px) {
    .skills {
        margin-top: 0;
    }

    .skill {
        margin: 2rem 1%;
        height: 4rem;
    }

  .skill h2 {
    font-size: 2rem;
   }
}

@media(min-width: 800px) {
    .skills {
        margin-top: 15rem;
    }
    .skills-content h1 {
        font-size: 7vw;
    }
    .skill {
        height: 6rem;
    }

    .skill .close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
        
    .skill .expandButton {
        display: inline;
        position: absolute;
        margin: 3rem 0 0 0;
        border-radius: 5%;;
        bottom: 9%;
        left: 50%;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
        transform: translate(-50%);
        background-color: #6031CA;
    }
        
.skill .expandButton:hover {
    background-color: transparent;
}
        
        .skill-open {
          height: 15rem;
        }
        
        .skill-button-container {
            display: inline;
        }

        .skill-button-container a {
            font-size: 1rem;
            padding: .3rem .5rem;
        }
      
        .skill-abouts {
          margin-top: 10rem;
        } 
}

@media(min-width: 1000px) {
    .skills {
        width: 60%;
    }
}

@media(min-width: 1300px) {
    .skills {
        width: 50%;
    }
}

@media(min-width: 1600px) {
    .skills {
        width: 40%;
    }
}



/* About */
.aboutcontact-header {
    margin-top: 2rem;
    padding-top: 1rem;
	border-top: .1rem solid #6031CA;
}

.aboutcontact-header nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.aboutcontact-header nav a {
	color: #6031CA;
	font-weight: bolder;
}

.aboutme-content {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 50rem;
    
}

.about-area-img {
    content: url("../img/aboutmeimg.png");
    opacity: 30%;
    width: 100%;
    margin: 0 auto;
    border-radius: 5%;
}

.aboutme-section {
    margin-top: 8rem;
    width: 90%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.about-figure {
    width: 85%;
    padding: 5rem .8rem 3rem;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 0 6rem #6031CA;
    -moz-box-shadow: 0 0 6rem #6031CA;
    box-shadow: 0 0 6rem #6031CA;
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.about-figcaption {
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 1.5rem;
}

.first-about {
    font-size: 1.5rem;
    text-align: center;
}

.second-about {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

.aboutme-image img{
    border-radius: 50%;
    width: 70%;
    
}

.aboutme-card {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 5rem;
}
 

@media(min-width: 500px) {
    .aboutme-image img{
        border-radius: 50%;
        width: 55%;
        
    }

    .about-figcaption {
        margin: 0 auto;
        width: 90%;
    
      }
}

@media(min-width: 600px) {
    .aboutme-content {
        margin-top: 4rem;
    }
}

@media(min-width: 700px) {
    .aboutme-image img{
        border-radius: 50%;
        width: 45%;
    }

    .about-figcaption {
        width: 80%;
    
      }
}


@media(min-width: 800px) {
    .aboutme-image img{
        border-radius: 50%;
        width: 35%;
        
    }

    .about-figcaption {
        width: 70%;
    
      }
}


@media(min-width: 900px) {

    .about-figcaption {
        width: 50%;
    
      }

      .about-figure {
        width: 75%;
      }
}

@media(min-width: 1000px) {
    .about-figure {
        width: 65%;
      }
}

@media(min-width: 1200px) {
    .about-figure {
      width: 55%;
    }
}

@media(min-width: 1400px) {
    .about-figure {
      width: 45%;
    }
}

@media(min-width: 1600px) {
    .about-figure {
      width: 40%;
    }
} 

/* CONTACT */

.contact {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 35rem;
    margin-top: 10rem;
}

.contact-area-img {
    content: url("../img/aboutmeimg.png");
    opacity: 30%;
    width: 100%;
    margin: 0 auto;
    border-radius: 5%;
}

.contact-info {
    padding-top: 5rem;
    width: 90%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-size: 1.5rem;
}

.contact-form-title {
    font-size: 2.5rem;
}

.contact-form-title2 {
    text-align: center;
    margin-left: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;;
}

.contact-form {
    padding: 2rem 2rem;
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
}
label {
    margin-bottom: .8rem;
}

input {
    max-width: 100%;
    background-color: transparent;
    margin-bottom: 3rem;
    padding: .5rem .5rem .5rem .5rem;
}

.input,
.textarea {
    color: #FFFFFF;
    padding-left: 10px;
    border-radius: 10px;
    border: .1rem solid #6031CA;
}

.textarea {
    margin-bottom: 3rem;
    border: .2rem solid #6031CA;
    background: transparent;
}

::placeholder {
    color: #FFFFFF;
    opacity: 30%;
}

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
}
 
.textarea[contenteditable]:empty::before {
    content: "type your message here";
    color: #FFFFFF;
    opacity: 30%;
}

.contact-details {
    display:none;
}

@media(min-width: 400px) {
    .contact-info {
        width: 80%;
    }
}

@media(min-width: 500px) {
    .contact-info {
        width: 70%;
    }
}

@media(min-width: 600px) {
    .contact-form-title2 {
        text-align: center;
    }

    .contact-info {
        width: 90%;
        margin-top: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center; 
        font-size: 1.5rem;
    }

    .contact-details {
        display:inline;
        text-align: center;
        border: .1rem solid #6031CA;
        padding: 2rem 3rem 0 2rem;
        border-radius: 10px;

    }

    .detail {
        margin-bottom: 5rem;
    }

    .detail-heading {
        font-size: 2rem;
    }

    .detail-email {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .detail-social .fa {
        margin: 1.8rem;
    }

    .form {
        width: 55%;
    }
   
}

@media(min-width: 900px) {
    .contact-info {
        width: 80%;
    }
}

@media(min-width: 1000px) {
    .contact-info {
        width: 70%;
    }
}

@media(min-width: 1200px) {
    .contact-info {
        width: 60%;
    }
}

@media(min-width: 1400px) {
    .contact-info {
        width: 50%;
    }
}

@media(min-width: 1600px) {
    .contact-info {
        width: 40%;
    }
}

@media(min-width: 1800px) {
    .contact-info {
        width: 30%;
    }
}


/* Projects */

.projects-top-container {
    width: 100% !important;
  }
  
  .projects-container {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 15rem;
  
  }
  
  
  
  .projects-container h1 {
    font-size: 5vw;
    text-align: center;
    margin-bottom: 7rem;
    margin-top: 5rem;
    
  }
  
  .projects-section {
    width: 80%;
    margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
  }
  
  .project-card {
      margin-bottom: 2rem;
      border-radius: 10px;
  }
  
  .project-figure {
      background: rgb(18, 5, 48);
      padding: .8rem .8rem 3rem;
      text-align: center;
      text-decoration: none;
      -webkit-box-shadow: 0 .4rem .6rem #6031CA;
      -moz-box-shadow: 0 .4rem .6rem #6031CA;
      box-shadow: 0 .4rem .6rem #6031CA;
      -webkit-transition: all .20s linear;
      -moz-transition: all .20s linear;
      transition: all .20s linear;
      cursor: pointer;
      position: relative;
      /* margin: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0; */
    }
  
    .project-figcaption {
      color: #FFFFFF;
      font-size: 1rem;
      position: relative;
      top: 1.5rem;
    }
    
  
    .project-figure:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .7);
      -moz-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .7);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .7);
    }
  
    .project-card {
      overflow: hidden;
    }
  
    .projects-card img {
      /* width: 500px;
      height: 100px; */
    
    }
  
    .img {
      max-width: 100%;
    }
  
  
    @media(min-width: 600px) {
      .projects-container {
          width: 95%;
        }
  
      .projects-section {
          width: 100%;
      }
      .project  {
          width:40%;
          margin: 1rem;
      }
  }
  
    @media(min-width: 800px) {
      .project  {
          width:30%;
      }
   
  
  }
  
    @media(min-width: 1377px) {
      .project  {
          width:20%;
      }
  }
  
  
  
  
  
  
  
  
  
  

