/* Main Content Area above 620px-------------------------------- */
.main-section{
    position: relative;
    height: 100vh;
}
.main-img{
    opacity: 20%;
    position: absolute;
    left: 10%;
    top: 8%;
    width: 80%;
    height: auto;
    padding-left: 8rem;
}
.main-text{
    position: relative;
    font-size: 2rem;
    z-index: 100;
    margin-bottom: 3rem;
}
.top-text{
    padding-top: 23rem;
    padding-left: 3rem;
    margin-bottom: 3rem;

}
.my-name, .sologan-text {
    font-size: 4.5rem;
}
.my-name{
    font-family: "Agbalumo";
    background: -webkit-linear-gradient(#eee, #6031CA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sologan-text{
    padding-left: 5rem;
    padding-bottom: 3rem;
    font-family: "Agbalumo";
    background: -webkit-linear-gradient(#eee, #6031CA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.bottom-text{
    padding-left: 5rem;
    line-height: 1.6;
    width: 80%;
    text-align: justify;
    text-justify: inter-word;
}
.buttons{
    display: flex;
    flex-direction: column;
}

/* Page Sections---------------------------------------------------------------- */
section{
    padding-top: 3rem;
}
.skills-section, .contact-section{
    background-image: linear-gradient(#0000, #6031CA, #0000);
}
.projects-section {
    background-image: linear-gradient( #0000, #6031CA, #0000);
}

/* Skills Section---------------------------------------------------------------------- */
.skills-section{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;  
    padding-bottom: 20rem; 
}

.hire-me h2{
    margin-top: 5rem;
    text-align: center;
    font-size: 3rem;
}
.hire-me p{
    margin: 0 auto;
    width: 85%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 2rem;
    padding-top: 1rem;
}

.toolbox{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toolbox-list-card {
    width: 90%;
    height: 30%;
    margin-bottom: 2rem;
    border-radius: 10px;
    background: rgb(18, 5, 48);
    padding: .8rem .8rem 3rem;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 .4rem .6rem #6031CA;
    -moz-box-shadow: 0 .4rem .6rem #6031CA;
    box-shadow: 0 .4rem .6rem #6031CA;
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    cursor: pointer;
}
.toolbox-list-card figcaption {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.toolbox-list-card p{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
.toolbox-img{
    width: 15%;
    margin-bottom: 3rem;
}
/* PROJECTS-------------------------------------------------------------------------- */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project{
    width: 90%;
    background-color: #FFF;
    display: flex;
    margin-bottom: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0 .4rem .6rem #FFF;
    -moz-box-shadow: 0 .4rem .6rem #FFF;
    box-shadow: 0 .4rem .6rem #FFF;
    cursor: pointer; 
}

.project-figure{
    display: flex;
    flex-direction: column;
}


.project-img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.project-figcaption{
    color: #6031CA;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.project-figcaption h3 {
    font-weight: bolder;
    margin-bottom: 1rem;
}
/* Contact Section----------------------------------------------------------------- */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6031CA;
    width: 90%;
    background-color: #FFF;
    display: flex;
    margin-bottom: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0 .4rem .6rem #FFF;
    -moz-box-shadow: 0 .4rem .6rem #FFF;
    box-shadow: 0 .4rem .6rem #FFF;
    cursor: pointer; 
}
.contact-card h2 {
    font-size: 5rem;
}

.contact-card h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.contact-headshot img{
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
}
.social-contact{
    font-size: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
}
.social-contact-item{
    color: #6031CA;
    margin-bottom: 1rem;
}
/* Back to top Buttom------------------------------------------------------------- */
#backtotop-button {
    display: none;
    width: 15%;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #FFF;
    cursor: pointer;
    border-radius: 50%;
    
  }
  
#backtotop-button:hover {
    border: 5px dotted #6031CA;
}

/* Media queries */

/* at 620 and below */
@media screen and (max-width: 620px) {
    .top-header{
        display: none;
    }

    .main-section{
        display: none;
    }

    .project-info{
        display: none;
    }
}

/* Media queries--------------------------------------------------------- */
@media screen and (min-width: 657px) and (max-width: 1070px) {
    .main-text{
        font-size: 2.5rem;
    }
    .my-name, .sologan-text {
        font-size: 4.3rem;
    }
    #backtotop-button {
        width: 6%;
    }
}


@media screen and (min-width: 1071px) and (max-width: 2000px) {
    .main-text{
        width: 80%;
        padding-top: 18rem;
        margin-left: 10rem;
    }
}

@media screen and (min-width: 657px) and (max-width: 800px) {
    .main-img{
        top: 0;
        left: 22%;
        width: 60%;
    }
}

@media screen and (min-width:801px) and (max-width: 945px) {
    .main-img{
        top: -3%;
        left: 18%;
        width: 55%;
    }
}

@media screen and (min-width: 945px) and (max-width: 1055px) {
    .main-img{
        top: -3%;
        left: 14%;
        width: 50%;
    }
}

@media screen and (min-width: 1056px) and (max-width: 1310px) {
    .main-img{
        top: -3%;
        left: 14%;
        width: 50%;
    }
    #backtotop-button {
        width: 5%;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1573px) {
   .main-img{
        top: -3%;
        left: 14%;
        width: 50%;
    }
    #backtotop-button {
        width: 5%;
    }
}

@media screen and (min-width: 1574px) and (max-width: 2000px) {
    .main-img{
        top: -3%;
        left: 14%;
        width: 40%;
    }
}


/* @media screen and (min-width: 710px) and (max-width: 770px){
    #backtotop-button {
        width: 8%;
    }
}

@media screen and (min-width: 771px) and (max-width: 855px) {
    #backtotop-button {
        width: 8%;
    }
}

@media screen and (min-width: 856px) and (max-width: 1000px) {
    #backtotop-button {
        width: 8%;
    }
} */




/* @media screen and (min-width: 1441px) and (max-width: 1690px) {
    .main-img{
        top: -60%;
        width: 55%;
    }
  
} */

/* @media screen and (min-width: 1691px) and (max-width: 1980px) {
    .main-img{
        top: -60%;
        width: 45%;
    }
  
} */




/* 
@media screen and (min-width: 1071px){
    .main-text{
        font-size: 2.6rem;
    }

    .my-name, .sologan-text {
        font-size: 4.5rem;
    }
} */