/* Main Navigation--------------------------------------------------------------- */
/*Displayed none until 621px */
.top-header{
    position: fixed;
    /* top: 2%; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 1rem;
    padding: 1.5rem 1rem;
    border-bottom: .2rem solid rgb(96, 49, 202, 0.4);
    margin-bottom: 2rem;
    background-color: #000;
    opacity: 80%;
    z-index: 200;
}
.top-header a{
    text-decoration: none;
}
.top-header a:hover{
    transform: scale(1.5);
    color: #6031CA;
}
.menu-nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-right: 5rem;
}
.social-nav {
    display: flex;
    justify-content: space-between;
    width: 5%;
}
.active {
    margin-top: -.5rem;
    padding: .5rem;
    border: .1rem solid #6031CA;
    border-radius: 10px;
    color: #FFFFFF;
}

/* Main Navigation Area------------------------------------------------------------ */
@media screen and (min-width: 710px) and (max-width: 770px){
    .menu-nav {
        width:65%;
        /* margin-right: 9rem; */
    }
}

@media screen and (min-width: 771px) and (max-width: 855px) {
    .menu-nav {
        width: 60%;
        /* margin-right: 15rem; */
    }
}


@media screen and (min-width: 856px) and (max-width: 1000px) {
    .menu-nav {
        width: 55%;
        /* margin-right: 25rem; */
    }
}







