/* Main menu-------------------------------------------------------- */

@media screen and (max-width: 621px) {
    .top-header{
        display: none;
    }
}

@media screen and (max-width: 621px) {
    .main-section{
        display: none;
    }
}

/* Hamburger menu for mobile-------------------------------------------------------- */


@media screen and (min-width: 621px) {
    .mobile-display{
        display: none;
    }
}

