@media screen and (min-width: 441px) and (max-width: 620px) {
   .mobile-img{
    top: -1%;
    left: 10%;
    max-width: 40%;
   }

   #backtotop-button {
      width: 10%;
  }
}

@media screen and (min-width: 621px) and (max-width: 709px) {
   #backtotop-button {
      width: 8%;
  }
}