/* This section is displayed none until 621px */
.main-section{
    /* overflow: hidden; */
    position: relative;
}


.main-img{
    opacity: 20%;
    position: absolute;
    left: 9%;
    width: 80%;
    height: auto;
    padding-right: 70rem;
}

.main-text{
    padding-top: 10rem;
    width: 90%;
    position: relative;
    font-size: 2.5rem;
}

.top-text{
    padding-left: 2rem;
    padding-top: 10rem;
    margin-bottom: 3rem;
    /* font-size: 3rem; */
}

.my-name{
    font-size: 4rem;
    font-family: "Agbalumo";
    background: -webkit-linear-gradient(#eee, #6031CA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sologan-text{
    padding-left: 5rem;
    padding-bottom: 3rem;
    font-family: "Agbalumo";
    background: -webkit-linear-gradient(#eee, #6031CA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}


.bottom-text{
    padding-left: 5rem;
    /* font-size: 3rem; */
    line-height: 1.6;
    width: 80%;
}
