/* Top Navigation Area, displayed non until 621px */
.top-header{
    width: auto;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 1rem;
    padding: 2rem 1rem;
    border-bottom: .2rem solid rgb(96, 49, 202, 0.4);
    margin-bottom: 2rem;
}

.top-header a{
    text-decoration: none;
}

.top-header a:hover{
    transform: scale(1.5);
    color: #6031CA;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-right: 5rem;
}

.social-nav {
    display: flex;
    justify-content: space-between;
    width: 5%;

}

.active {
    margin-top: -.5rem;
    padding: .5rem;
    border: .1rem solid #6031CA;
    border-radius: 10px;
    color: #FFFFFF;
}











