/* This section is displayed none until 621px */
.main-section{
    /* overflow: hidden; */
    position: relative;
}


.main-img{
    opacity: 20%;
    position: absolute;
    left: 0;
    top: -25%;
    width: 50%;
    height: auto;
    padding-right: 70rem;
}

.main-text{
    padding-left: 45rem;
    padding-top: 20rem;
    position: relative;
}

.top-text{
    padding-left: 10rem;
    padding-top: 10rem;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.my-name{
    font-size: 5rem;
    font-family: "Agbalumo";
    background: -webkit-linear-gradient(#eee, #6031CA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sologan-text{
    padding-left: 15rem;
    padding-bottom: 3rem;
    font-family: "Agbalumo";
    background: -webkit-linear-gradient(#eee, #6031CA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
}


.bottom-text{
    padding-left: 15rem;
    font-size: 3rem;
    line-height: 1.6;
}
