/* Hamburger menu for mobile-------------------------------------------------------- */
@media screen and (min-width: 621px) {
    .mobile-display{
        display: none;
    }
}

/* open and close menu background */
.mobile-label .menu {
    position: absolute;
    left: -10rem;
    top: -10rem;
    z-index: 100;
    width: 20rem;
    height: 20rem;
    background: #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFFFFF, 0 0 0 0 #FFFFFF;
    cursor: pointer;
}

/* the hamburger menu icon turns into the "X"/closing icon */
/* icon to open and close menu: middle line */
.mobile-label .hamburger {
    position: absolute;
    top: 135px;
    right: 50px;
    width: 30px;
    height: 2px;
    background: #6031CA;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* icon to open and close menu, to and bottom lines */
/* .hamburger:before: top line */
/* .hamburger:after: bottom line */
.mobile-label .hamburger:after, .mobile-label .hamburger:before  {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #6031CA;
}

/* icon to open menu: top line position */
.mobile-label .hamburger:before { 
    top: -10px; 
}

/* icon to open menu:bottom line position */
.mobile-label .hamburger:after { 
    bottom: -10px; 
}
  
.mobile-label .mobile-input { 
    display: none; 
}

/* opened menu */
.mobile-label .mobile-input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;  
}

/* position of hamburger icon when clicked: middle line will not be moved  */
.mobile-label .mobile-input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* position of "X" icon: bottom line of hamburger menu goes into the same position as middle line  */
.mobile-label .mobile-input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}

/* position of "X" icon: top line of hamburger menu  */
.mobile-label .mobile-input:checked + .menu .hamburger:before{
    -webkit-transform: rotate(190deg);
    transform: rotate(90deg);
    top: 0;
}
  
.mobile-label .mobile-input:checked + .menu + .mobile-menu-nav{ 
    opacity: 1; /* makes the navigation visiable when menu is opened */
}




/* Mobile Navigation: TOP----------------------------- */
.mobile-menu-nav{
    margin: auto;
    width: 95%;
}

.mobile-label .mobile-menu-nav{
  z-index: 200;
  position: absolute;
  top: 20%;
  left: 21.5%;
  -webkit-transform: translate(-20%, -20%);/*  keeps text in correct position */
  transform: translate(-20%, -20%);
  opacity: 0; /* makes the text no visiable */
  -webkit-transition: .25s .10s ease-in-out;   /* makes text visiable/not visiable when menu is clicked */
  transition: .25s .10s ease-in-out;
}

.mobile-menu-nav-item {
    border: .1rem solid #6031CA;
    padding: 1em 0;
    margin-bottom: .7rem;
    display: block;
    color: #6031CA;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #6031CA;
}

/* Mobile Bottom Nav Area----------------------------- */
.mobile-label .mobile-input:checked + .menu + .mobile-menu-nav + .mobile-bottom-area{ 
    opacity: 1; /* makes the navigation visiable when menu is opened */
}

.mobile-label .mobile-bottom-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-transform: translate(-48%, 48%);/*  keeps text in correct position */
    transform: translate(-48%, 48%);
    opacity: 0; /* makes the text no visiable */
    -webkit-transition: .35s .10s ease-in-out;   /* makes text visiable/not visiable when menu is clicked */
    transition: .35s .10s ease-in-out;
}

.mobile-headshot img {
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
}

.mobile-headshot::after {
    content: '';
	position: absolute;
	top: 0;
	left: 29%;
	width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    /* box-shadow: inset 0 0 2rem 1px #6031CA; */
}

.mobile-social-nav{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    width: 15%;
}

.mobile-social-nav-item {
    color: #6031CA;
    font-size: 2rem;
}

.mobile-img{
    opacity: 20%;
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    height: auto;
    padding-right: 70rem;
}

.mobile-text{
    /* padding-left: 5rem; */
    /* padding-top: 5rem; */
    width: 95%;
    position: relative;
}

.mobile-top-text{
    padding-left: 3rem;
    padding-top: 25rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.mobile-my-name{
    font-size: 5rem;
    font-family: "Agbalumo";
    background: -webkit-linear-gradient(#eee, #6031CA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobile-sologan-text{
    padding-left: 5rem;
    padding-bottom: 3rem;
    font-family: "Agbalumo";
    background: -webkit-linear-gradient(#eee, #6031CA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
}


.mobile-bottom-text{
    padding-left: 5rem;
    font-size: 2rem;
    line-height: 1.6;
}
