/* Main Section for Mobile */
.mobile-main{
}
.mobile-img{
    opacity: 20%;
    position: absolute;
    left: 0;
    top: 33%;
    height: 100%;
    max-width: 70%;
    padding-left: 20rem;
}
.mobile-text{
    width: 95%;
    position: relative;
}
.mobile-top-text{
    padding-left: 3rem;
    padding-top: 15rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}
.mobile-my-name{
    font-size: 5rem;
    font-family: "Agbalumo";
    background: -webkit-linear-gradient(#eee, #6031CA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mobile-sologan-text{
    padding-left: 5rem;
    padding-bottom: 3rem;
    font-family: "Agbalumo";
    background: -webkit-linear-gradient(#eee, #6031CA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
}
.mobile-bottom-text{
    padding-left: 5rem;
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 10rem;
    text-align: justify;
    text-justify: inter-word;
}

@media screen and (min-width: 441px) and (max-width: 620px) {
    .mobile-img{
     top: -1%;
     left: 10%;
     max-width: 40%;
    }
 }