/* Top Navigation Area */
.top-header{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 2rem 1.5rem;
    border-bottom: .2rem solid rgb(96, 49, 202, 0.4);
    margin-bottom: 2rem;
}

.top-header a{
    text-decoration: none;
}

.top-header a:hover{
    transform: scale(1.5);
    color: #6031CA;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    width:30%;
}

.social-nav {
    display: flex;
    justify-content: space-between;
    width:5%;

}

.active {
    margin-top: -.5rem;
    padding: .5rem;
    border: .1rem solid #6031CA;
    border-radius: 10px;
    color: #FFFFFF;
}
@media screen and (max-width: 620px) {
    .top-header{
        display: none;
    }
}

/* Hamburger menu for mobile */
@media screen and (min-width: 621px) {
    .mobile-nav{
        display: none;
    }
}

/* open and close menu background */
.mobile-label .menu {
    position: absolute;
    left: -10rem;
    top: -10rem;
    z-index: 100;
    width: 20rem;
    height: 20rem;
    background: #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFFFFF, 0 0 0 0 #FFFFFF;
    cursor: pointer;
}

/* the hamburger menu icon turns into the "X"/closing icon */
/* icon to open and close menu: middle line */
.mobile-label .hamburger {
    position: absolute;
    top: 135px;
    right: 50px;
    width: 30px;
    height: 2px;
    background: #6031CA;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* icon to open and close menu, to and bottom lines */
/* .hamburger:before: top line */
/* .hamburger:after: bottom line */
.mobile-label .hamburger:after, .mobile-label .hamburger:before  {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #6031CA;
}

/* icon to open menu: top line position */
.mobile-label .hamburger:before { 
    top: -10px; 
}

/* icon to open menu:bottom line position */
.mobile-label .hamburger:after { 
    bottom: -10px; 
}
  
.mobile-label .mobile-input { 
    display: none; 
}

/* opened menu */
.mobile-label .mobile-input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;  
}

/* position of hamburger icon when clicked: middle line will not be moved  */
.mobile-label .mobile-input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* position of "X" icon: bottom line of hamburger menu goes into the same position as middle line  */
.mobile-label .mobile-input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}

/* position of "X" icon: top line of hamburger menu  */
.mobile-label .mobile-input:checked + .menu .hamburger:before{
    -webkit-transform: rotate(190deg);
    transform: rotate(90deg);
    top: 0;
}
  
.mobile-label .mobile-input:checked + .menu + .mobile-menu-nav{ 
    opacity: 1; /* makes the navigation visiable when menu is opened */
}

/* Navigation */
.mobile-menu-nav{
    margin: auto;
    width: 100%;
}

.mobile-label .mobile-menu-nav{
  z-index: 200;
  position: absolute;
  top: 25%;
  left: 20%;
  -webkit-transform: translate(-20%, -20%);/*  keeps text in correct position */
  transform: translate(-20%, -20%);
  opacity: 0; /* makes the text no visiable */
  -webkit-transition: .25s .10s ease-in-out;   /* makes text visiable/not visiable when menu is clicked */
  transition: .25s .10s ease-in-out;
 
}

.mobile-label a {
    border: .1rem solid #6031CA;
    padding: 1em 0;
    margin-bottom: .5rem;
    display: block;
    color: #6031CA;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    /* -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777; */
          box-shadow: 0 10px 6px -6px #6031CA;
    
}
