/* PROJECTS-------------------------------------------------------------------------- */
#projects {
  display: flex;
  flex-direction: column;
}

.project{
  margin: auto;
  width: 90%;
  background: rgb(18, 5, 48);
  display: flex;
  margin-bottom: 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 .4rem .6rem #FFF;
  -moz-box-shadow: 0 .4rem .6rem #FFF;
  box-shadow: 0 .4rem .6rem #FFF;
  cursor: pointer; 
}


/* Small Devices--------------------------------------------------------------------------------------------- */
.project-figure{
  display: flex;
  flex-direction: column;
}

.project-img{
  /* width: 100%; */
  height: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.project-figcaption{
  color: #6031CA;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.project-figcaption h3 {
  font-weight: bolder;
  margin-bottom: 1rem;
}

/* Larger Devices---------------------------------------------------------------------------- */
.project-info{
  display: flex;
  color: #FFF;
}
.project-info-img-container{
  width: 50%;
}

.project-info-text-container{
  padding-top: 1rem;
  width: 50%;
}
.project-info-img{
  border-radius: 1rem;

}
.project-info-text-container h3 {
  font-size: 2rem;
  text-align: center;
}
.project-info-text-container p{
  margin: auto;
  width: 90%;
  padding-top: 1rem;
  font-size: 1.3rem;

}
.project-info-two, .project-info-four, .project-info-six{
  flex-direction: row-reverse;
}


/* Media queries--------------------------------------------------------- */
@media screen and (max-width: 599px) {
  .project-info{
      display: none;
  }
}

@media screen and (min-width: 600px) {
  .project-figcaption{
    display: none;
   }
   .project-img-container{
    display: none;
   }
}
/* Laptop */
@media screen and (min-width: 1536px) {

  
}


@media screen and (min-width: 1920px) {
  .projects-section{
    padding-top: 15rem;
    margin-bottom: 3rem;
  }
  .project{
    margin-top: 8rem;
  }
}